html, body {
	height:100%;
	font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
	color:#2c2c2c;
	background-color:#f6f6f6;
}

.col-body {
	height:100%;
	padding:0;
	
}

.parent {
	background-color:#28B8D0;
	font: 32px/1.7 'Montserrat', sans-serif;
	color:white;
	height:80%; 
	min-height:590px;
	margin:0;
}

.navbar {
	font: 32px/1.7 'Montserrat', sans-serif;
	background-color:#EC5E50;
	text-shadow:2px;
	height:80px;
	color:white;
	margin:0;
	transition: all 0.2s linear 0s;
}
.navbar:hover {
	height:100px;
	padding-top:10px;
}
.navbar-default .navbar-nav li a, 
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:visited
.navbar-default .navbar-nav li a:active  {
	text-decoration: none;
	text-decoration: none;
	color:white;
	padding-top:10px;
}
.navbar .navbar-brand {
	color:white;
	font-size:32pt;
	transition: all 0.2s linear 0s;
}
.navbar .navbar-brand:hover {
	margin-top:-3px;
	margin-right: -3px;
	font-size:38pt;
	color:white;
}
.navStyle
{
	cursor:pointer;
	transition: all 0.2s linear 0s;

}
.navStyle:hover {
	margin-top:-10px;
	margin-right: -3px;
	font-size:32pt;
}

.myButton {
  border: 0 none;
  background: none repeat scroll 0 0 #EC5E50;
  border-radius: 9px;
  outline:none;
  cursor: pointer;
  font: 32px/1.7 'Montserrat', sans-serif;
  text-transform: uppercase;
  width:300px;
  height:200px;
  font-weight: bold;
  line-height:1;
  padding: 7px 10px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  text-align: center;
  color: white;
}
.myButton:hover {
      background: none repeat scroll 0 0 #E8756A;
      width:350px;
      height:220px;
      margin-left:-24px;
      margin-top:0px;
}
.vert-center {
	position: relative;
  		top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.child {
	background-color:white;
	color:black;
	height:80%;
	padding:50px;
	padding-left:100px;
	padding-right:100px;
	min-height:700px;
}
.child2 {
	display:block;
	color:black;
	height:80%;
	min-height:700px;
	font: 28px/1.7 'Open Sans', sans-serif;
	position:relative;
}
.child2::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../img/mapBground.png");
  background-repeat:none;
  background-size:cover;
  opacity: 0.16;
}
.child2 h1 {
	padding:0;
	margin:0;
	line-height:2;
	text-align:center;
}
.child2 h4 {
	line-height:1.35;
}

.btn {
	outline:none;
}

.nav li {
	margin: 5px;
	height:20px;
	text-align: center;
	border-radius:15px;
	font-size:20pt;
}

.modal-title {
	font-weight:700;
	font-style:bold;
	letter-spacing:2px;
	font-size:32pt;
	text-align: center;
}

.search {
	text-align:center;
	background-color:#f0f0f0;
	border:1px;
	color:black;
	border-style:solid;
	border-radius:10px;
	min-height:200px;
	height:100%;
}

.img-brand {
	width:100px;
}

.modal-body {
	height:400px;
}

.map {
	position:relative;
	border:1px;
	border-style:solid;
	height:100%;
	width:100%;
	z-index:1;
}
.map-container {
	min-height:200px;
	height:100%;
}

.result-container {
	width:100%;
	height:75%;
	overflow-y:scroll;
	z-index:-1;
}
.navbar .container {
	padding:15px;
}
.block-height {
	float:right;
	width:360px;
	height:auto;
	padding:0px;
    z-index:1;
}

.maxheight {
	padding-right:7%;
	height:100%;

}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
	font-weight:lighter;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50pt;
	font-weight:700;
	text-align:center;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 50%;
	text-align: right;
}

input, select {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}

.result-container::-webkit-scrollbar {
    width: 15px;
}

.result-container::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

.result-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius:10px;
    
}
.result-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.myStyle
{
  background-color:#f8f8f8;
  font: 13px/1.6 'open sans', sans-serif;
  font-size: 11pt;
  color: #333;
  text-align:center;
  padding: 20px;
}
.myStyle:hover {
	background-color:#EDEDED;
	cursor:pointer;
}
.result-container ul {
	padding: 0;
}
.event-title {
	font-size:16pt;
	color:black;
}
.event-text {
	color:#2489D8;
}

.search h3 {
	font: 28px/1.7 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px;
}
.parent h2 {
	font-size:30pt;
	letter-spacing: 0.5pt;
	font-weight:700;
}

.footer {
	position:relative;	
	display:block;
	height:60px;
	background-color:#EC5E50;
	color:white;
	font-size:32pt;
	text-align:center;
}